<launch>
  <env name="GAZEBO_PLUGIN_PATH" value="$(optenv GAZEBO_PLUGIN_PATH):$(find techathon)/../../devel/lib"/>
  <env name="GAZEBO_MODEL_PATH" value="$(optenv GAZEBO_MODEL_PATH):$(find simulator)/models"/>

  <arg name="gz_verbose" default="false"/>
  <arg name="gzweb_start" default="true"/>
  <arg name="gzweb_dir" default="$(env HOME)/gzweb"/>
  <arg name="gzweb_port" default="8080"/>
  <arg name="world_name" default="static"/>
  <arg name="scorefile" default="$(find game_master)/scorefile.txt"/>
  <arg name="teamfile" default="$(find techathon)/src/teamfile.yaml"/>


	<node name="game_master" pkg="game_master" type="game_master" output="screen">
		<param name="csv_map" value="$(find simulator)/csvMaps/$(arg world_name).csv"/>
		<param name="scorefile" value="$(arg scorefile)"/>
    <param name="world_name" value="$(arg world_name)"> 
		<param name="teamfile" value="$(arg teamfile)"/>
	</node>

<!-- Simulator backend -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="$(arg gz_verbose)"/>
    <arg name="world_name" value="$(find simulator)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="false"/>
    <arg name="gui" value="false"/>
  </include>

  <include file="$(find px4)/launch/px4.launch">
    <arg name="est" value="lpe"/>
    <arg name="interactive" value="false"/>
  </include>

<!-- standard px4 launch 
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" value="udp://:14540@localhost:14557"/>
  </include>
-->

<!-- custom px4 launch  -->
  <include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find simulator)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find simulator)/launch/px4_config.yaml" />
    <arg name="fcu_url" value="udp://:14540@localhost:14557"/>

		<arg name="gcs_url" value="" />
    <arg name="tgt_system" value="1" />
    <arg name="tgt_component" value="1" />
    <arg name="log_output" value="screen" />
    <arg name="fcu_protocol" value="v2.0" />
    <arg name="respawn_mavros" value="false" />
  </include>

<!--
  <node name="positioning_node" pkg="simulator" type="mocap_node" output="screen"/>
-->
  <node name="dynamic_obstacle_publisher_node" pkg="simulator" type="dynamic_obstacle_publisher_node" output="screen"/>

  <node name="scoreboard_server_node" pkg="game_master" type="scoreboard_server.py" output="screen"/>

  <node if="$(arg gzweb_start)" respawn="true" name="gzweb_node" pkg="simulator" type="start_gzweb.sh" args="$(arg gzweb_dir) $(arg gzweb_port)"/>
</launch>

