<launch>
	<arg name="csv_map" default="task1_a.csv"/>
	<arg name="scorefile" default="$(find game_master)/scorefile1.txt"/>

	<node name="game_master_1" pkg="game_master" type="game_master_1" output="screen">
		<param name="csv_map" value="$(find equinor2018_simulator)/csvMaps/$(arg csv_map)"/>
		<param name="scorefile" value="$(arg scorefile)"/>
	</node>
</launch>

