<?xml version="1.0"?>
<model>
  <name>Techathon Drone</name>
  <version>1.0</version>
  <sdf version='1.6'>drone.sdf</sdf>

  <author>
   <name>Rendell Cale</name>
   <email>rendellc@ascendntnu.no</email>
  </author>

  <description>
      This is a modified version of 3DR Iris created by Lorenz Meier and Thomas Gubler.
  </description>
</model>
