<?xml version="1.0"?>

<model>
  <name>simple_camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Rendell Cale</name>
    <email>rendell.cale@gmail.com</email>
  </author>

  <description>
      Simple camera based on gazebo tutorial
  </description>

</model>
